<div class="main-container">

  <div class="searches-container">
    <%= form_tag searches_path, method: :get, local: true, id: "search_tabs_form" do %>
      <div class="tabs is-boxed">
        <%= hidden_field_tag :search_type, params[:search_type], class: "search_type" %>
        <%= hidden_field_tag :search, params[:search] %>
        <ul>
          <li class=""><a id="tweets">Tweets</a></li>
          <li class=""><a id="users">Users</a></li>
        </ul>
        <%= submit_tag "", style: "display: none;" %>
      </div>
    <% end %>
  </div>

  <div class="search-container">
    <% unless @tweets.nil? %>
      <%= render "shared/tweets", tweets: @tweets %>
    <% end %>
    <% unless @users.nil? %>
      <%= render "shared/users", users: @users %>
    <% end %>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    var search_type = "<%= params[:search_type] %>"
    if (search_type === '') {
      $('#tweets').parents('li').addClass('is-active')
    } else {
      $(`#${search_type}`).parents('li').addClass('is-active')
    }
  })
  $(document).on('click', '.tabs ul li', function() {
    $(this).parents('ul').find('li').removeClass('is-active')
    $(this).addClass('is-active')
  })
  $(document).on('click', '.tabs ul li:not(.is-active) a', function() {
    $('.search_type').val($(this).prop('id'))
    $('#search_tabs_form').submit()
  })
</script>