<div class="main-container">
  <div class="main-container-title">
    <h2>アカウント作成</h2>
  </div>
  <div class="main-fields">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= render "shared/email", resource: resource, f: f, autofocus: true %>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input #{'is-danger' unless resource.errors.messages[:password].empty?}" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "input #{'is-danger' unless resource.errors.messages[:password_confirmation].empty?}" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "作成", class: "button is-primary main-botton" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "users/shared/links" %>
</div>

